/* .loading_cont { */
/*     width: 100%; */
/*     height: 100%; */
/*     background: white; */
/* } */

/* .loading_cont:before { */
/*     content: ""; */
/*     width: 100%; */
/*     height: 100%; */
/*     left: 0; */
/*     top: 0px; */
/*     background: url(https://next.atcom.gr/StaticData/Landing2017/Content/Media/dots-transparent.png) repeat scroll center center; */
/*     opacity: 0.05; */
/*     z-index: 0; */
/* } */

#loader {
	/* display: inline-block; */
	position: absolute;
	width: 50%;
	height: 50%;
	top: 10%;
	left: 10%;
	/* margin-left: -400px; */
	/* margin-top: -400px; */
}

rect {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.blobs {
    -webkit-filter: url("#goo");
    filter: url("#goo");
    filter: blur(45px);
    /* transform: scale(1000px); */
    opacity: 35%;
}

.blob {
	fill: white;
}
@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}
@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}
@keyframes scaleUp {
  from{transform:scale(0.8);}
  to{transform:scale(1);}
}
@keyframes scaleDown {
  from{transform:scale(1);}
  to{transform:scale(0.8);}
}

@keyframes from360to0scaled {
  from{transform:rotate(360deg) scale(1.1); }
  to{transform:rotate(0deg) scale(0.25);}
}

.blob-svg {
will-change: transform;
/* filter: blur(30px); */
opacity: 45%;
}

.circle1 {
  animation: from0to360 10s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  fill: white;
  transform-origin: 145px 150px;
}
.circle2 {
  animation: from360to0 20s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  fill: white;
  transform-origin: 160px 150px;
}

.circle3 {
  animation: from0to360 30s linear infinite alternate;
  cx: 145;
  cy: 150;
  r: 100;
  fill: white;
  transform-origin: 150px 145px;
}

.circle4 {
  animation: from360to0 25s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  fill: white;
  transform-origin: 150px 155px;
}

.ellipse1 {
  animation: from360to0scaled 20s linear infinite alternate;
  rx: 120;
  ry: 100;
  cx: 150;
  cy: 150;
  fill: white;
  transform-origin: 130px 155px;
}
.ellipse2 {
  animation: from0to360 15s linear infinite;
  rx: 120;
  ry: 100;
  cx: 150;
  cy: 150;
  fill: white;
  transform-origin: 150px 155px;
}
/* continue-text { */
/*    /1* width: 100px; *1/ */ 
/*    /1* text-align: center; *1/ */ 
/*    border-bottom: 1px solid #000; */ 
/*    line-height: 0.1em; */
/*    /1* margin: 10px 0 30px; *1/ */ 
/* } */ 

/* continue-text span { */ 
/*     background:#fff; */ 
/*     padding:0 10px; */ 
/* } */
